{
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "rules": {
    "vue/html-self-closing": "off",
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "comma-spacing": ["warn", "last"],
    "comma-dangle": ["error", "never"],
    "comma-style":["error", "last"]
  }
}
